@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@600&display=swap');
:root{
    --default-font-color:#5F5F5F;
    --light-font-color: #B7B7B7;
    --default-orange-color:#F7931E;
    --gradient-top:#febf58;
    --gradient-bottom:#F7931E;
    --clear-light-color:#FFF;
    --light-color:#F7F7F7;
    --border-color: #CECECE;
}
@keyframes anime{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*{
    line-height: 1.8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-font-color);
}
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
video{
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--light-color);
}
a:active{
    color: var(--light-color);
}
a:focus {
    outline: none;
}
a:hover{
    opacity: .5;
}
.sp{
    display: none;
}
.load{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--clear-light-color);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.load p{
    width: clamp(150px,15%,800px);
    height: auto;
}
.up,.up1,.up2{
    opacity: 1;
    transition: opacity 1s;
}
.mov{
    opacity: 0;
}
header{
    position: fixed;
    width: 20%;
    top: 20%;
    left: 10%;
    z-index: 1;
    opacity: 1;
}
h1{
    cursor: pointer;
    width: 80%;
}
.pc li{
    font-size: 1.8rem;
    font-weight: 900;
    margin: 30px 0;
}
.pc li a{
    color: var(--default-orange-color);
}
.firstView{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
hgroup{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
.firstView h2{
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'IBM Plex Sans JP', sans-serif;
}
.firstView h4{
    font-size: 1.5vw;
    font-weight: 200;
    margin-top: 20px;
    padding-left: 10px;
}
.firstView-Button{
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
}
.firstView-Button a{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
}
.About{
    padding: 150px 0;
    width: 65%;
    margin-left: 35%;
}
.section-title p{
    font-size: 1.8rem;
    font-weight: bold;
}
.section-title h2{
    font-size: 3.8vw;
    line-height: 1.2;
}
.about-text{
    font-size: 2rem;
    font-weight: 100;
    padding: 100px 0;
}
.section-button{
    width: 200px;
    height: 50px;
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
    border-radius: 50px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.section-button a{
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.back{
    background-color: var(--light-color);
}
.Scratch{
    padding: 150px 0;
    width: 65%;
    margin-left: 35%;
}
.video00{
    width: 80%;
    padding: 50px 0;
}
.Scratch-text{
    width: 55%;
    font-size: 1.8rem;
    font-weight: lighter;
}
.howto{
    padding: 150px 0;
    width: 65%;
    margin-left: 35%;
}
.Howtoimage{
    width: 80%;
    height: 400px;
    background-color: #A9D3F7;
    text-align: center;
    line-height: 400px;
    color: #FFF;
    margin: 50px 0;
}
.Steps{
    font-size: 2rem;
    font-weight: bold;
}
.Steps li{
    line-height: 2.2;
}
.aboutSteps{
    padding: 50px 0;
    width: 70%;
}
.aboutSteps li{
    padding: 30px 0;
}
.aboutSteps h3{
    position: relative;
    font-size: 2.4rem;
}
.aboutSteps h3::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 40px;
    left: 0;
    background-color: var(--light-font-color);
}
.aboutSteps p{
    width: 82%;
    font-size: 1.8rem;
    font-weight: lighter;
    padding-top: 20px;
}
.final-button{
    margin-left: 20%;
}
footer{
    background-color: var(--light-color);
}
footer p{
    text-align: center;
    padding: 50px 0;
    font-size: 1.8rem;
    font-weight: 200;
}
@media screen and (max-width: 960px){
.pc{
    display: none;
    animation: anime 0.5s reverse;
}

.sp{
    display: block;
}
header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: var(--clear-light-color);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px var(--border-color);
}
header h1{
    width: clamp(100px, 20% ,150px);
    margin-left: 7%;
}
.menuWapper{
    position: relative;
    width: 50px;
    height: 50px;
    right: 35%;
    bottom: -5px;
    z-index: 15;
}
.menuline{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 auto;
}
.menuline span{
    display: block;
    width: 25px;
    height: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.menuline span{
    overflow: hidden;
}
.menuline:before, .menuline:after{
    display: block;
    width: 30px;
    height: 1px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--default-font-color);
    transition: transform 0.3s;
}
.menuline:before{
    content: "";
    transition: 0.3s;
}
.menuline:after{
    content: "";
    transform: translateY(12px);
    width: 30px;
    left: 0px;
    transition: transform 0.3s;
}
.menuText{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--default-font-color);
    transition: color 0.5s;
}
.active::before{
    transform: rotate(45deg);
    width: 25px;
    background-color: var(--clear-light-color);
    transition: transform 0.3s;
}
.active::after{
    transform: rotate(-45deg);
    width: 25px;
    left: 0;
    background-color: var(--clear-light-color);
    transition: transform 0.3s;
}
.ternColor{
    color: var(--clear-light-color);
    transition: color 0.5s;
}
hgroup{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.firstView{
    height: 100svh;
}
.firstView h2{
    font-size: 9vw;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'IBM Plex Sans JP', sans-serif;
    text-align: center;
}
.firstView h4{
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}
.About, .Scratch, .howto{
    width: 100%;
    margin: 0;
}
.section-title{
    text-align: center;
}
.section-title p{
    position: relative;
    font-size: 4vw;
    font-weight: lighter;
    padding-bottom: 20px;
}
.section-title p::before{
    content: "";
    width: 10%;
    height: 4px;
    background-color: var(--default-orange-color);
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.section-title h2{
    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: 8vw;
    padding-top: 20px;
}
.about-text{
    font-size: 3.1vw;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
}
.section-button{
    margin: 0 auto;
    font-size: 2rem;
    width: 200px;
    height: 60px;
}
.section-button a{
    line-height: 60px;
}
.video00{
    width: 90%;
    margin: 0 auto;
}
.Scratch-text{
    width: 70%;
    margin: 0 auto;
    font-size: 2rem;
}
.Howtoimage{
    margin: 50px auto;
    padding: 50px 0;
    height: 200px;
}
.Steps{
    font-size: 3rem;
    padding-left: 10%;
}
.aboutSteps{
    width: 90%;
    margin: 0 auto;
}
.aboutSteps h3{
    font-size: 3rem;
    padding-left: 10px;
}
.aboutSteps h3::after{
    top: 100%;
}
.aboutSteps p{
    width: 95%;
    font-size: 2rem;
    margin: 0 auto;
}
.menuActive{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    z-index: 10;
    background-color: rgba(40,40,40,.8);
    animation: anime 0.5s;
}
.menuActive ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
}
.menuActive li{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 2rem;
}
.menuActive li a{
    color: var(--clear-light-color);
}
}
@media screen and (max-width: 429px){
    .pc ul{
        width: 60%;
    }
    .pc li{
        font-size: 1.5rem;
    }
    .firstView h4{
        font-size: 1.6rem;
        font-weight: 200;
        text-align: center;
    }
    .firstView-Button{
        width: 100px;
        height: 100px;
        font-size: 1.2rem;
    }
    .about-text{
        line-height: 2;
    }
    .firstView-Button a{
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;
    }
    .section-title p{
        padding-bottom: 8px;
    }
    .section-title h2{
        padding-top: 8px;
    }
    .section-button{
        width: 150px;
        height: 40px;
    }
    .section-button a{
        line-height: 40px;
        font-size: 1.4rem;
    }
    .Scratch-text{
        font-size: 1.6rem;
    }
    .Steps{
        font-size: 1.8rem;
    }
    .aboutSteps h3{
        font-size: 1.8rem;
        padding-left: 20px;
    }
    .aboutSteps p{
        font-size: 1.4rem;
    }
}